<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Trails</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
</head>
<body>
    <div id="video-hero">
        <video loop muted autoplay poster="{% static 'img/hike_trail.jpg' %}">
            <source src="{% static 'video/fog5.mp4' type='video/mp4' %}">
        </video>
        <div class="content d-flex align-items-center">
            <div class="container text-center text-white">
                <h2>Welcome to</h2>
                <h1 class="display-1 happy">Happy Trails</h1>
                <h5 class="pb-3">Free group hikes in the East Bay</h5>
                <a href="/login_page"><button class="btn btn-lg">Enter</button></a>
            </div>
        </div>
    </div>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>