<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Trails</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
</head>
<body>
    <div class="dark-bg" id="hero">
        <div class="container login">
            <div class="text-white d-flex flex-column h-100 justify-content-center text-center">
                <div class="errors">
                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li class="mb-2">{{message}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <form action="/login" method="POST" class="form-login text-center mb-5">
                    {% csrf_token %}
                    <h2 class="mb-3">Log In</h2>
                    <input type="text" name="email" class="form-control mb-3" placeholder="Email Address">
                    <input type="password" name="password"class="form-control mb-3" placeholder="Password">
                    <input type="submit" value="Submit" class="btn btn-lg btn-primary">
                </form>
                <p>Don't have an account yet?</p>
                <a href="/register_page"><button class="btn btn-sm btn-primary mb-5">Create Account</button></a>
            </div>
        </div>
    </div>
</body>
</html>